body { 
	background-color: #F4F4F4;
	overflow-x: hidden;
}

.header-title-section {
	display: flex;
	flex-direction: column;
}
.header-title-section > a {
	font-size: 1.5em;
}
.header-title-section > span {
	color: white;
	margin-top: -8px;
    margin-bottom: 1em;
    font-size: 0.9em;
}

.site-toc > ul {
	list-style: none;
    font-size: 1.2em;
}
.site-toc > ul > li {
	padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/* blog post styles */
.blog {
	border-left: 1px solid black;
	padding-left: 3em;
}

.blog-post > .blog-post-title {
	cursor: pointer;
	font-size: 1.4em;
	color: #2F88D3;
}
.blog-subsection {
	display: flex;

	font-size: 0.9em;
	margin-bottom: 1.3em;
}
.blog-subsection > .blog-post-date {
    margin-right: 1em;
}
.blog-post > p {
	padding: 0 0 2em 0;
}

.post-content {
	font-family: 'Lato', sans-serif;
    font-size: 1.15em;
}
/* END : blog post styles */


/* section styles */
.section-title {
	font-size: 1.5em;
    margin-bottom: 1em;
    padding-left: 2em;
}
/* END: section styles*/


/* navbar styles */
.navbar.navbar-default {
	background-color: #283447;
	border-radius: 0;
	font-family: 'Monteserrat', sans-serif;
}
.nav-link {
	color: #259C93 !important;
	font-weight: 700;
}
.navbar-brand { color: #259C93 !important; }
.navbar-right {
	margin-top: 8px;
    font-size: 1.1em;
}
/* END : navbar styles */

/* home styles */
.home__info-blurb {
	padding-right: 1000px;
	margin-right: -1000px;
	background-color: #2F88D3;
	border-radius: 0;
	box-shadow: 0 5px 5px rgba(10, 10, 10, 0.12);
}
.home__info-blurb p {
	color: white;
}
/* END : home styles */

/* about styles */
.about__info-panel {
	border-radius: 0;
	box-shadow: 0 3px 10px rgb(136, 136, 136), 0 -3px 10px rgb(136, 136, 136);
	margin-left: -2em;
    margin-right: -2em;
    margin-top: -2em;
}

.about__row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.about-info__name {
	font-family: 'Monteserrat', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
}
.about-info__email, .about-info__repo {
	font-family: Josefin Sans;
	font-size: 1.2em;
}
.about-info {
	font-family: Josefin Sans;
	font-size: 1.1em;
}
.about-info__projects-header {
	background: lightgray;
    padding: 1em;
    margin: -1em -1em 2em -1em;
    font-family: 'Lato', sans-serif;
}

.portfolio__title {
	font-family: 'Monteserrat', sans-serif;
	font-size: 1.6em;
}
.portfolio__title-sub {
	font-family: 'Monteserrat', sans-serif;
	font-size: 1em;
}
.portfolio__description {
	font-family: Josefin Sans;
}
/* END : about styles*/


/* editor styles */
.doc-title {
	width: 30em;
}

#post-description {
	width: 100%;
}
/* END : editor styles*/

.gutter-blurb {
	display: flex;
    flex-direction: row;
    align-content: stretch;

    margin-left: 6.5em;
}
.gutter-blurb > .blurb {
	min-width: 25em;
    background: darkgrey;
    padding-right: 5em;
    padding-left: 1em;
    padding-top: 1em;
}

.docs-list > .docs-list__doc {
	display: flex;
	flex-direction: column;

	justify-content: space-between;
}

.docs-list-btn__selected {
	background: springgreen;
}

.post-image-center {
	height: 50%;
    width: 50%;
    display: inherit;
}
.post-block-quote {
	background-color: lightgray;
	margin: 0.5em 3.0em 0.5em 3.0em;
	padding: 1.5em 3em 1.5em 3em;
}


footer {
	background: darkgrey;
    padding: 2em 0 2em 0;
    margin-top: 3em;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > #right-footer > img {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	/* width and height can be anything, as long as they're equal */
}
footer > #center-footer {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer > #center-footer > a {
	margin: 0.5em;
}
footer > #right-footer {
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}

.CodeMirror {
	height: 700px;
}