.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 100em;
  padding: 1em 0;
}

header,
aside,
article,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

header {
  background: #eaeaea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

article {
  justify-content: flex-start;
}

/* TheKove specific styles */
.header-main {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}
.header-main-title {
  color: #259C93;
  font-size: 2em;
}
.header-navbar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
  .header-navbar > ul {
    list-style-type: none;
    display: flex;
  }
  .header-navbar > ul > li {
    padding-left: 1em;
    padding-right: 1em;
  }

.post-content {
  margin-left: 5em;
}