@dark-blue: #0D1358;
@topaz-1: #39CDC4;
@topaz-2: #56B8AE;
@topaz-3: #239C8E;
@dark-gray: #535353;
/*
	#35 -- Andaz, on the link below
	http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project
*/


.portfolio-pic-square {
    width: 200px;
    height: 140px;
    margin-top: -30px;
    margin-left: -40px;
    background: @topaz-2;
    position: absolute;
}