<template name="mainLayout">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">The Kove</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav"></ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/blog" class="nav-link">Blog</a></li>
					<li><a href="/about" class="nav-link">About</a></li>
					{{#if currentUser}}
					<li><a href="/documents" class="nav-link">Documents</a></li>
					{{/if}}
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">

		{{> Template.dynamic template=content}}

	</div>
	<footer>
		<div class="col-md-3 col-xs-12"></div>
		<div id="center-footer" class="col-md-6 col-xs-12">
			<a href="https://twitter.com/meddlin_dev">
				<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
			</a>
			<a href="https://www.reddit.com/user/_meddlin_/">
				<i class="fa fa-reddit fa-2x" aria-hidden="true"></i>
			</a>
			<a href="https://github.com/meddlin">
				<i class="fa fa-github fa-2x" aria-hidden="true"></i>
			</a>
		</div>
		<div id="right-footer" class="col-md-3 col-xs-12">
			<div id="blurb">
				<b>Who Am I?</b>
				<p>
					My name is Darrien. I'm a Christian, software dev, tech enthusiast, and goofball. I also go for the occasional jog, write about my adventures, and am a sucker for some Cajun cookin' or a big plate of BBQ.
				</p>
			</div>
			<img src="http://i.imgur.com/aCkzHge.jpg"/>
		</div>
	</footer>
</template>