.header-image {
	overflow: hidden;
    height: 430px;
    margin-left: -27em;
    margin-right: -27em;
    margin-top: -2em;
}

.header-image > img {
	max-width: 100%;
}

.post-image-center {
	height: 50%;
    width: 50%;
    display: block;
    margin: 0 auto;
}
.post-block-quote {
	background-color: lightgray;
	margin: 0.5em 3.0em 0.5em 3.0em;
	padding: 1.5em 3em 1.5em 3em;
}

h3, h4 {
    margin-top: 3em;
}