.tag-btn {
	cursor: pointer;
	text-align: center;
    font-weight: 700;
}
.tag-btn:hover {
	background-color: lightgrey;
}

.docs-header {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
}
.docs-header-right {
	display: flex;
	flex-direction: row;

	align-items: center
}
.docs-header-right > a {
	margin-right: 1em;
}